.startBoard {
  min-height: 320px;
  min-width: 320px;
  background: url("./assets/bg.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-shadow: 2px 2px 2px red;
  font-size: 18px;
}
